<%= form_with(model: project_profile, local: true) do |form| %>
  <% if project_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_profile.errors.count, "error") %> prohibited this project_profile from being saved:</h2>

      <ul>
        <% project_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.rich_text_area :short_description %>
  </div>

  <div class="field">
    <%= form.label :domain_introduction %>
    <%= form.rich_text_area :domain_introduction %>
  </div>

  <div class="field">
    <%= form.label :skill_requirements %>
    <%= form.collection_check_boxes(:skill_ids, Skill.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :project_link %>
    <%= form.url_field :project_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
