<p id="notice"><%= notice %></p>

<h1>Project Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short description</th>
      <th>Domain introduction</th>
      <th>Project link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_profiles.each do |project_profile| %>
      <tr>
        <td><%= project_profile.name %></td>
        <td><%= project_profile.short_description %></td>
        <td><%= project_profile.domain_introduction %></td>
        <td><%= project_profile.project_link %></td>
        <td><%= link_to "Show", project_profile %></td>
        <td><%= link_to "Edit", edit_project_profile_path(project_profile) %></td>
        <td><%= link_to "Destroy", project_profile, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Project Profile", new_project_profile_path %>
